* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(234, 237, 240);
  color: rgb(93, 96, 99);
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.3;
}
header {
  text-align: center;
  background-color: rgb(246, 247, 248);
  border: 1px solid rgb(214, 217, 220);
  border-radius: 5px;
  width: 80%;
  margin: 40px 0;
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
}
.title {
  margin-bottom: 40px;
}
input[type="text"] {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(214, 217, 220);
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}
fieldset {
  margin-bottom: 40px;
}
fieldset label{
  margin-bottom: 15px;
}
.line-content {
  margin: 20px;
  text-align: left;
}
.error {
  background-color: lightcoral;
}